.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }

  .eventCard:hover {
    background-color: rgb(199, 213, 255);
    border: rgb(51, 118, 235) solid 1px;
  }
  
  .eventCard {
      border-radius: 30px;
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 2px solid rgb(123, 168, 245);
      box-shadow:    3px 3px 3px 3px rgb(130, 149, 160)
  }

  .eventHeader {
      padding: 10px 0 0 0;
      text-align: center;
  }

.eventTitle {
    font-size: 20px;
  }

.eventButtonDiv {
    text-align: center;
  }

.removeEventButton {
  background-color: rgb(24 135 255);
  color: #faffff;
  border-radius: 9px;
  border-color: #baeeff;
}

.editButton {
  background-color: rgb(24 135 255);
  color: #faffff;
  border-radius: 9px;
  border-color: #baeeff;
}